:root {
  --black-dark: #121214;
  --black-light: #202024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background-color: #f5f5f5;

  font-family: "JetBrains Mono", monospace;

  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 10px;
  }

  &::-webkit-scrollbar-corner {
    border: none;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(61, 60, 66);
    border-radius: 3px;
    cursor: move;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }
}

a {
  color: inherit;
}

.display-heavy {
  color: #e1e1e6;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.display-light {
  color: #e1e1e6;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
}

.headline-heavy {
  color: #e1e1e6;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.headline-light {
  color: #e1e1e6;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.title-heavy {
  color: #e1e1e6;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.title-light {
  color: #e1e1e6;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.subheader-heavy {
  color: #e1e1e6;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.subheader-light {
  color: #e1e1e6;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.body-heavy {
  color: #e1e1e6;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.body-light {
  color: #e1e1e6;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.elevation-1 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.elevation-2 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.elevation-3 {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
}
